@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
  /* palheta de cores: https://paletadecores.com/ */
  --roxo-light: #f5c0ff;	
	--roxo-médio: #7a10bb;
	--roxo-dark: #391353;

  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Para Suavisar a fonte */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: grid;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-content: space-between;
  justify-items: center;
  color: var(--roxo-light);
}

h1 {
  padding: 20px;
}
section {
  display: grid;
  row-gap: 10px;
  padding: 20px;
  min-height: 300px;
  color: var(--roxo-light);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

select, input {
  padding: 5px;
}

select:hover {
  color: var(--roxo-dark);
  background-color: var(--roxo-light);
}

option:hover {
  color: var(--roxo-light);
  background-color: var(--roxo-dark);
}

div.select-titulo {
  display: flex;
  column-gap: 15px;
  align-items: center;
  justify-content: start;  
}

.select-unidades, .entrada {
  display: grid;
  padding: 15px;
  row-gap: 10px;
  margin-top: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.entrada, .resultado {
  align-self: end;
}

.resultado {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: var(--roxo-light);
  color: var(--roxo-dark);
  padding: 15px;
  font-weight: 600;
  transition: .8s;
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 5px;
}

button:hover {
  color: var(--roxo-light);
  background-color: var(--roxo-dark);
  font-weight: 600;
  transition: .8s;
}

footer {
  padding: 20px ;
}